.container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    .not-found {
        width: 400px;
        height: 400px;
        border-radius: 12px;
        margin: 0 auto;
        background-image: url('../../assets/404.png');
        background-size: contain;
        background-repeat: no-repeat;
        line-height: 600px;
        text-align: center;
        font-size: 10rem;
    }
}