.messageSender {
    font-size: 12px;
    color: #555;
    margin-bottom: 2px;
}

// 自己发的消息用户名靠右
.senderRight {
    text-align: right;
    width: 90%;
}

// 别人发的消息用户名靠左
.senderLeft {
    text-align: left;
}

.message {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    &.messageSent {
        flex-direction: row-reverse;
    }

    .messageAvatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        flex-shrink: 0;
    }

    .messageContent {
        max-width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .messageBubble {
            position: relative;
            padding: 10px 12px;
            border-radius: 10px;
            background: #f1f0f0;
            color: #333;
            font-size: 14px;
            &.textMessage {
                word-break: break-word;
            }

            &.messageSent {
                background: #95ec69;
                color: #000;
            }

            // 左侧水滴尾巴（别人消息）
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-top-color: #f1f0f0;
                left: -6px;
                top: 8px;
            }

            // 右侧水滴尾巴（自己消息）
            &.messageSent::after {
                position: absolute;
                top: 30%;
                border-top-color: #95ec69;
                right: -7px;
                width: 4px;
                height: 4px;
                left: auto;
            }
        }

        .messageTime {
            font-size: 11px;
            color: #999;
            margin-top: 4px;
        }

        .imageMessage img {
            max-width: 200px;
            border-radius: 12px;
        }

        .fileMessage {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 6px 10px;
            border-radius: 12px;
            background: #f1f0f0;

            &.messageSent {
                background: #d2f8d2;
            }

            .fileInfo {
                display: flex;
                flex-direction: column;
                font-size: 12px;
            }
        }
    }
}